/* ---------- Dekstop Design ---------- */
.password-recovery {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    background-color: var(--background-color);
  }
  
  .password-recovery__header {
    display: flex;
    gap: 30px;
    align-items: center;
    background-color: var(--primary-color);
    color: #fff;
    padding: 20px 40px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .header__logo img {
    width: 70px;
  }
  
  .header__title {
    font-size: 1.6em;
  }
  
  .password-recovery__panel {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
  }
  
  .password-recovery__title {
    font-size: 2.5em;
    color: var(--primary-color);
    margin-bottom: 60px;
  }
  
  .password-recovery__input {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin-bottom: 25px;
    font-size: 1em;
    outline: none;
    border-radius: 10px;
    border: 1px solid rgba(51, 51, 51, 0.3);
    color: #01344a;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4);
  }
  
  .password-recovery__input::placeholder {
    color: rgba(1, 52, 74, 0.7);
  }
  
  .password-recovery__button {
    width: 100%;
    max-width: 150px;
    margin-bottom: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #01344a;
    color: #fff;
    font-size: 1.2em;
    padding: 8px 0;
    border-radius: 8px;
    border: none;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4);
  }
  
  .password-recovery__button:hover {
    background-color: #01344cb8;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    transform: translateY(-2px);
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
  }
  
  .password-recovery__link {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 1em;
  }
  
  .password-recovery__link span {
    text-decoration: underline;
    font-weight: bold;
  }
  
  .password-recovery__copyright {
    text-align: center;
    padding: 20px;
    color: var(--primary-color);
    font-size: 1em;
    margin-top: auto;
  }

  .password-recovery__button.btn-wide {
    max-width: 400px; /* Iguala el ancho de los inputs */
    margin-top: 10px; /* Un poco de aire extra arriba */
  }
  
  /* ---------- Mobile Design ---------- */
  @media (max-width: 768px) {
    .password-recovery__header {
      flex-direction: column;
      padding: 20px;
    }
  
    .password-recovery__panel {
      justify-content: flex-start;
    }
  
    .header__title {
      margin-top: 10px;
      font-size: 1.5em;
    }
  
    .password-recovery__title {
      font-size: 2em;
      margin-top: 4rem;
    }
  
    .password-recovery__input {
      max-width: 100%;
    }
  
    .password-recovery__button {
      font-size: 1.2em;
      margin-top: 0.7rem;
    }
  }
  