.modal-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 500px;
}
.report-info {
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 8px;
    font-size: 0.9rem;
}
.desc-box {
    margin-top: 5px;
    font-style: italic;
    color: #666;
}
.full-width {
    width: 100%;
    margin-bottom: 5px;
}
.actions-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.actions-left {
    display: flex;
    gap: 8px;
}