<div class="mentions-panel">
    @if (users.length > 0) {
      <ul class="mentions-list">
        @for (user of users; track user.username) {
          <li class="mention-item" (click)="onUserClick(user)">
            <img [src]="user.avatarUrl" class="mention-item__avatar" alt="Avatar">
            <div class="mention-item__info">
              <span class="mention-item__display-name">{{ user.displayName }}</span>
              <span class="mention-item__username">@{{ user.username }}</span>
            </div>
          </li>
        }
      </ul>
    } @else {
      <div class="mentions-panel__no-results">No se encontraron usuarios</div>
    }
  </div>