<!-- CAMBIO: La etiqueta ahora es <app-menu> -->
<app-menu [isMobile$]="isMobile$"></app-menu>

<mat-toolbar class="header">
  <div class="header__section header__section--left">
    <button
      mat-icon-button
      class="header__button"
      (click)="onMenuClick()"
      aria-label="Abrir menú de navegación"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <a href="/" class="header__logo-container hide-on-mobile"
      ><img class="header__logo" src="/assets/images/focalizze-logo.webp" alt="Focalizze logo"
    /></a>
  </div>
  <div class="header__section header__section--center">
    <app-search-bar class="header__section hide-on-mobile"></app-search-bar>
    <a href="/" class="header__logo-container show-on-mobile">
      <img class="header__logo" src="/assets/images/focalizze-logo-short.webp" alt="" />
    </a>
  </div>
  <div class="header__section header__section--right">
    <a 
      mat-icon-button
      routerLink="/notifications"
      class="header__button hide-on-mobile"
      aria-label="Ver notificaciones">
      
      <!-- Usamos mat-badge para el punto rojo. Es más semántico. -->
      <mat-icon [matBadge]="hasUnreadNotifications() ? '•' : ''" matBadgeColor="warn" matBadgeSize="small">
        notifications
      </mat-icon>
    </a>


    @if (currentUser(); as user) {
    <!-- El enlace apunta al perfil del usuario -->
    <a
      [routerLink]="['/profile', user.username]"
      class="header__avatar-link hide-on-mobile"
      aria-label="Ver perfil de usuario"
    >
      <img
        [src]="user.avatarUrl"
        class="header__user-avatar"
        alt="Avatar de {{ user.displayName }}"
      />
    </a>
    } @else {
    <!-- Fallback: Muestra el ícono si no hay un usuario -->
    <button
      mat-icon-button
      class="header__button hide-on-mobile"
      aria-label="Ver perfil de usuario"
    >
      <mat-icon>account_circle</mat-icon>
    </button>
    }

    <button mat-icon-button class="header__button show-on-mobile" aria-label="Ver configuración">
      <mat-icon>settings</mat-icon>
    </button>
  </div>
</mat-toolbar>
