/* ---------- Desktop design ---------- */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--text-color);
  height: var(--header-height);
  min-height: 60px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  position: sticky;
  top: 0;
  z-index: 999;
}

.header__section {
  display: flex;
  align-items: center;
  gap: 8px;
}
.header__section--center {
  flex: 1 1 auto;
  justify-content: center;
}
.header__section--right {
  justify-content: flex-end;
}

.header__logo-container {
  display: flex;
  align-items: center;
}

.header__logo {
  width: 60px;
  height: auto;
  display: block;
}

.header__button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: transparent;
  transition: background-color 0.2s ease-in-out;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative; /* Contexto para el punto */
  text-decoration: none; 

  mat-icon {
    font-size: 28px;
    height: 28px;
    width: 28px;
  }
}


.header__button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.header__button:active {
  color: rgba(255, 255, 255, 0.8);
}

.user-option {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__user-avatar {
  background-color: #fff;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover; /* Evita que la imagen se deforme */
  border: 1.5px solid #fff; /* Un borde sutil para que destaque */
  display: block; /* Elimina espacio extra debajo de la imagen */
}

.header__avatar-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 0.2s ease-in-out;
  padding: 4px; /* Espacio para el efecto hover */
}

.header__avatar-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.user-option__avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}


.notification-dot {
  position: absolute;
  top: 8px;    /* Ajusta para el posicionamiento vertical */
  right: 8px;  /* Ajusta para el posicionamiento horizontal */
  width: 10px;
  height: 10px;
  background-color: var(--warn-color, #f44336); /* Color de "warning" de Material */
  border-radius: 50%;
  border: 2px solid var(--primary-color); /* Borde del color del header para crear un espacio */
  pointer-events: none; /* El punto no debe ser clickeable */
}

.user-option__info {
  display: flex;
  flex-direction: column;
}
.user-option__display-name {
  font-weight: 500;
}
.user-option__username {
  font-size: 0.8rem;
  color: #555;
}


:host ::ng-deep .header__search .mdc-notched-outline > * {
  border: none !important;
}

:host ::ng-deep .header__search input,
:host ::ng-deep .header__search mat-icon {
  color: var(--text-color) !important;
}

:host ::ng-deep .header__search input::placeholder {
  color: var(--text-color) !important;
}

.show-on-mobile {
  display: none !important;
}

/* ---------- Mobile design ---------- */

@media (max-width: 768px) {
  .header {
    height: 100px;
  }

  .header__logo {
    width: 100px;
    height: auto;
    display: block;
  }

  .header__section--center {
    height: 100px;
  }

  .hide-on-mobile {
    display: none !important;
  }
  .show-on-mobile {
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
  .header__section--left,
  .header__section--right {
    flex: 1;
  }
  .header__section--center {
    flex: 2;
  }

  .header__button {
    width: 48px;
    height: 48px;
  }

  .header__button mat-icon {
    font-size: 32px;
    height: 32px;
    width: 32px;
  }

  .notification-dot {
    top: 10px;
    right: 10px;
  }
}
