<div class="modal-container">
  <div class="modal-header">
    <h2 class="username-title">{{ data.username }}</h2>
    <button mat-icon-button (click)="onClose()" class="close-btn">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <mat-tab-group
    [selectedIndex]="selectedIndex()"
    (selectedIndexChange)="onTabChange($event)"
    animationDuration="0ms"
    mat-stretch-tabs="false"
    mat-align-tabs="center"
  >
    <!-- PESTAÑA SEGUIDORES -->
    <mat-tab label="Seguidores">
      <div class="list-container">
        @if (isLoading()) {
        <div class="spinner-wrapper">
          <mat-progress-spinner mode="indeterminate" diameter="40"></mat-progress-spinner>
        </div>
        } @else { @if (followersList().length === 0) {
        <p class="empty-state">Aún no hay seguidores.</p>
        } @else { @for (user of followersList(); track user.id) {
        <div class="user-row">
          <a [routerLink]="['/profile', user.username]" (click)="onClose()" class="user-info-link">
            <img [src]="user.avatarUrl" alt="avatar" class="avatar" />
            <div class="names">
              <span class="display-name">{{ user.displayName }}</span>
              <span class="username">@{{ user.username }}</span>
            </div>
          </a>

          <!-- Botón de Seguir -->
          <!-- No mostrar botón si soy yo mismo -->
          @if (authService.getCurrentUser()?.username !== user.username) {
          <app-follow-button
            type="user"
            [identifier]="user.username"
            (followStateChanged)="handleFollowStateChange(user.username, $event)"
          >
          </app-follow-button>
          }
        </div>
        } } }
      </div>
    </mat-tab>

    <!-- PESTAÑA SEGUIDOS -->
    <mat-tab label="Seguidos">
      <div class="list-container">
        @if (isLoading()) {
        <div class="spinner-wrapper">
          <mat-progress-spinner mode="indeterminate" diameter="40"></mat-progress-spinner>
        </div>
        } @else { @if (followingList().length === 0) {
        <p class="empty-state">No sigue a nadie aún.</p>
        } @else { @for (user of followingList(); track user.id) {
        <div class="user-row">
          <a [routerLink]="['/profile', user.username]" (click)="onClose()" class="user-info-link">
            <img [src]="user.avatarUrl" alt="avatar" class="avatar" />
            <div class="names">
              <span class="display-name">{{ user.displayName }}</span>
              <span class="username">@{{ user.username }}</span>
            </div>
          </a>

          @if (authService.getCurrentUser()?.username !== user.username) {
          <app-follow-button
            type="user"
            [identifier]="user.username"
            (followStateChanged)="handleFollowStateChange(user.username, $event)"
          >
          </app-follow-button>
          }
        </div>
        } } }
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
