<app-header></app-header>

<div class="discover-layout">
  <main class="discover-layout__content">
    <div class="discover-layout__threads-list">
      @for (threadId of threadIds; track threadId) {
        <app-thread [threadId]="threadId" (openComments)="openCommentsModal($event)"></app-thread>
      }
    </div>

   
    @if (isLoading) {
      <div class="loading-indicator">Cargando...</div>
    }
    @if (!isLastPage && threadIds.length > 0 && !isLoading) {
      <button (click)="loadMoreThreads()" class="load-more-button">Cargar más</button>
    }
  </main>
</div>

<app-botton-nav></app-botton-nav>
<app-create-thread-button></app-create-thread-button>
