<!-- Primero, nos aseguramos de que la señal del usuario se haya cargado desde el store. -->
@if (displaySignal?.(); as entity) {
<button 
  class="follow-btn" 
  [class.follow-btn--following]="entity.isFollowing"
  [disabled]="isLoading"
  (click)="onClickFollow()"
  (mouseenter)="isHovering = true"
  (mouseleave)="isHovering = false">
  
  @if (entity.isFollowing) {
    @if (isHovering) {
      <span>{{ 'FOLLOW_BUTTON.UNFOLLOW' | translate }}</span>
    } @else {
      <span>{{ 'FOLLOW_BUTTON.FOLLOWING' | translate }}</span>
    }
  } @else {
    <span>{{ 'FOLLOW_BUTTON.FOLLOW' | translate }}</span>
  }
  
</button>
}