<app-header></app-header>
<app-following-discovering></app-following-discovering>

<div class="feed-layout">
  <main class="feed-layout__content">
    
    <!-- TÍTULO DINÁMICO -->
    <h1 class="feed-layout__title">{{ pageTitle }}</h1>

    <div class="feed-layout__threads-list">
      @for (thread of threads; track thread.id) {
        <app-thread [thread]="thread" (openComments)="openCommentsModal($event)"></app-thread>
      }
    </div>

    @if (isLoading) { /* ... */ }

    <!-- El botón "Cargar más" solo aparece si NO estamos en la última página Y NO estamos en una búsqueda -->
    @if (!isLastPage && !route.snapshot.queryParamMap.has('q') && threads.length > 0 && !isLoading) {
      <button (click)="loadMore()" class="load-more-button">Cargar más</button>
    }
  </main>

  <aside class="feed-layout__sidebar">
    <app-suggestions></app-suggestions>
  </aside>

<app-botton-nav></app-botton-nav>
<app-create-thread-button></app-create-thread-button>
