<header class="comments-header" mat-dialog-title>
  <h2>{{ 'COMMENTS.TITLE' | translate }}</h2>
  <button mat-icon-button (click)="onClose()" aria-label="Cerrar">
    <mat-icon>close</mat-icon>
  </button>
</header>

<mat-dialog-content class="comments-content">
  <!-- Sección para añadir comentario -->
  <div class="add-comment-section">
    @if (authService.currentUser(); as user) {
    <img class="avatar" [src]="user.avatarUrl || defaultAvatar" [alt]="'COMMENTS.YOUR_AVATAR' | translate" />
    } @else {
    <img class="avatar" [src]="defaultAvatar"  [alt]="'COMMENTS.DEFAULT_AVATAR' | translate" />
    }
    <mat-form-field appearance="outline" class="comment-input">
      <textarea
        matInput
        [placeholder]="'COMMENTS.PLACEHOLDER' | translate"
        cdkTextareaAutosize
        [formControl]="commentControl"
        maxlength="280"
      ></textarea>
      <mat-hint align="end">{{ commentControl.value?.length || 0 }} / 280</mat-hint>
    </mat-form-field>
    <button
      mat-flat-button
      class="btn-comentar"
      (click)="postComment()"
      [disabled]="commentControl.invalid"
    >
    {{ 'COMMENTS.BUTTON' | translate }}
    </button>
  </div>

  <!-- Indicador de carga -->
  @if (isLoading) {
    <p>{{ 'COMMENTS.LOADING' | translate }}</p>
  }

  <!-- Lista de comentarios -->
  <div class="comments-list">
    @for (comment of comments; track comment.id) {
    <div class="comment-item">
      <img class="avatar" [src]="comment.author.avatarUrl" alt="Avatar" />
      <div class="comment-body">
        <div class="comment-author">
          <strong>{{ comment.author.displayName }}</strong>
          <span class="handle">@{{ comment.author.username }}</span>
          <span class="date">· {{ comment.createdAt | timeAgo }}</span>

          <!-- --- Menú de opciones --- -->
          <!-- Solo se muestra si el usuario logueado es el autor del comentario -->
          @if (authService.currentUser()?.username === comment.author.username) {
          <button mat-icon-button [matMenuTriggerFor]="commentMenu" class="comment-options-btn">
            <mat-icon>more_horiz</mat-icon>
          </button>
          <mat-menu #commentMenu="matMenu">
            <button mat-menu-item (click)="openEditComment(comment.id, comment.content)">
              <mat-icon color="warn">edit</mat-icon>
              <span>{{ 'COMMENTS.EDIT' | translate }}</span>
            </button>
            <button mat-menu-item (click)="openDeleteConfirm(comment.id)">
              <mat-icon color="warn">delete</mat-icon>
              <span>{{ 'COMMENTS.DELETE' | translate }}</span>
            </button>
          </mat-menu>
          }
        </div>
        <p class="comment-text">{{ comment.content }}</p>
      </div>
    </div>
    }
  </div>
</mat-dialog-content>
