.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }
  
  .modal-content {
    padding-top: 20px !important;
    min-width: 300px;
  }
  
  .full-width {
    width: 100%;
  }
  
  @media (min-width: 600px) {
    .modal-content {
      min-width: 500px;
    }
  }