<header class="modal-header">
    <h2 mat-dialog-title>{{ 'COMMENTS.EDIT_TITLE' | translate }}</h2>
    <button mat-icon-button (click)="onCancel()" aria-label="Cerrar">
      <mat-icon>close</mat-icon>
    </button>
  </header>
  
  <mat-dialog-content class="modal-content">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Comentario</mat-label>
      <textarea
        matInput
        [formControl]="contentControl"
        cdkTextareaAutosize
        cdkAutosizeMinRows="3"
        maxlength="280"
      ></textarea>
      <mat-hint align="end">{{ contentControl.value?.length || 0 }} / 280</mat-hint>
    </mat-form-field>
  </mat-dialog-content>
  
  <mat-dialog-actions align="end">
    <button mat-button (click)="onCancel()">{{ 'COMMON.CANCEL' | translate }}</button>
    <button 
      mat-flat-button 
      color="primary" 
      (click)="onSave()" 
      [disabled]="contentControl.invalid || contentControl.pristine">
      {{ 'COMMON.SAVE' | translate }}
    </button>
  </mat-dialog-actions>