/* ---------- Desktop design ---------- */

.f-d-container {
  width: 100%;
  height: 40px;
  background-color: var(--primary-color);
  color: #fff;
  position: relative;
  display: flex;
  align-items: center;
}

.f-d-container__options {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  align-items: center;
  gap: 15px;
}

.f-d-container__option {
  color: #fff;
  font-size: 1.2rem;
  text-decoration: none;
  padding: 5px;
}

.f-d-container__line {
  width: 1.5px;
  height: 20px;
  background-color: #fff;
}

.f-d-container__interactions {
  position: absolute;
  right: 20px;
  font-size: 0.9rem;
}
