<section class="f-d-container">
  <div class="f-d-container__options">
    <a href="#" class="f-d-container__option" routerLink="/feed">Siguiendo</a>
    <div class="f-d-container__line"></div>
    <a href="#" class="f-d-container__option" routerLink="/discover">Descubrir</a>
  </div>
  @if (authService.isLoggedIn()) {
    <div class="f-d-container__interactions">
      <span>
        Interacciones disponibles: 
        {{ interactionCounterService.remainingInteractions() ?? '...' }} / 
        {{ interactionCounterService.interactionLimit() ?? '...' }}
      </span>
    </div>
  }
</section>
