<div class="search-mobile-page">
  <header class="search-mobile-page__header">
    <button mat-icon-button (click)="goBack()" aria-label="Volver">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <app-search-bar></app-search-bar>
  </header>

  <main class="search-mobile-page__content">
    <div class="search-history">
      <h2 class="search-history__title">{{ 'SEARCH_MOBILE.TITLE' | translate }}</h2>
      @if (searchHistory.length > 0) {
      <ul>
        @for (item of searchHistory; track item.id) {
        <!-- Pasamos el objeto 'item' completo al hacer clic -->
        <li class="search-history__item" (click)="onHistoryClick(item)">
          <!-- Contenido del item -->
          <div class="item-content">
            @if (item.type === 'content') {
            <mat-icon class="item-content__icon">history</mat-icon>
            <span>{{ item.query }}</span>
            } @else if (item.type === 'user') {
            <img [src]="item.user.avatarUrl" class="item-content__avatar" alt="Avatar" />
            <div class="item-content__user-info">
              <span>{{ item.user.displayName }}</span>
              <span class="user-info__username">@{{ item.user.username }}</span>
            </div>
            }
          </div>

          <!-- Botón de eliminar -->
          <button
            mat-icon-button
            (click)="onRemoveHistoryItem(item.id, $event)"
            class="remove-button"
            [attr.aria-label]="'SEARCH_MOBILE.REMOVE_ARIA' | translate"
          >
            <mat-icon>close</mat-icon>
          </button>
        </li>
        }
      </ul>
      } @else {
        <p class="search-history__empty">{{ 'SEARCH_MOBILE.EMPTY' | translate }}</p>
      }
    </div>
  </main>

  <app-botton-nav></app-botton-nav>
</div>
