/* ---------- Dekstop Design ---------- */
.password-recovery {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background-color: var(--background-color);
}

.password-recovery__header {
  display: flex;
  gap: 30px;
  align-items: center;
  background-color: var(--primary-color);
  color: #fff;
  padding: 20px 40px;
  width: 100%;
  box-sizing: border-box;
}

.header__logo img {
  width: 70px;
}

.header__title {
  font-size: 1.6em;
}

.password-recovery__panel {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.password-recovery__title {
  font-size: 2.5em;
  color: var(--primary-color);
  margin-bottom: 60px;
}

.password-recovery__input {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin-bottom: 25px;
  font-size: 1em;
  outline: none;
  border-radius: 10px;
  background-color: var(--card-background);
  border: 1px solid var(--border-color);
  color: var(--text-color);
}

.password-recovery__input::placeholder {
  color: var(--primary-color);
}

.password-recovery__button {
  width: 100%;
  max-width: 150px;
  margin-bottom: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 1.2em;
  padding: 8px 0;
  border-radius: 8px;
  border: none;
}

.password-recovery__button:hover {
  box-shadow: 0 0 6px var(--shadow-color);
  transform: translateY(-2px);
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
}

.password-recovery__link {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 1em;
}

.password-recovery__link span {
  text-decoration: underline;
  font-weight: bold;
}

.password-recovery__copyright {
  text-align: center;
  padding: 20px;
  color: var(--primary-color);
  font-size: 1em;
  margin-top: auto;
}

/* ---------- Mobile Design ---------- */
@media (max-width: 768px) {
  .password-recovery__header {
    flex-direction: column;
    padding: 20px;
  }

  .password-recovery__panel {
    justify-content: flex-start;
  }

  .header__title {
    margin-top: 10px;
    font-size: 1.5em;
  }

  .password-recovery__title {
    font-size: 2em;
    margin-top: 4rem;
  }

  .password-recovery__input {
    max-width: 100%;
  }

  .password-recovery__button {
    font-size: 1.2em;
    margin-top: 0.7rem;
  }
}
