* {
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

:root {
  --primary-color: #01344a; /* Azul oscuro */
  --secondary-color: #80d8ff; /* Azul claro */
  --background-color: #f4f6f8; /* Gris muy claro */
  --hover-color: #316478; /* Color para hover */
  --text-color: #333; /* Gris oscuro para texto */
  --header-height: 60px;
  --footer-height: 40px;
}

.create-thread-modal-panel .mat-dialog-container {
  padding: 0 !important;
  border-radius: 15px;
  overflow: hidden;
}

.comments-dialog-container .mdc-dialog__container .mdc-dialog__surface {
  padding: 0;
  border-radius: 16px;
}

/* ====================================================== */
/* == Estilos Personalizados para el Panel de Autocompletado == */
/* ====================================================== */

/* 
  Este es el selector principal. 
  Apunta al panel flotante generado por mat-autocomplete.
*/
.mat-mdc-autocomplete-panel {
  /* Le damos bordes redondeados, igual que la barra de búsqueda */
  border-radius: 0 0 20px 20px !important;

  background-color: #fff !important;
  /* Añadimos una sombra de caja para que resalte */
  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15) !important; */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1) !important;
  padding-top: 30px !important;
  margin-top: -17px;
  /* Quitamos cualquier borde que pueda tener por defecto */
  border: 1px solid rgba(51, 51, 51, 0.3) !important;
  border-top: none !important;

  /* Lo separamos un poco de la barra de búsqueda */
}

/* 
  Estilizamos cada opción individual dentro del panel.
*/
.mat-mdc-autocomplete-panel .mat-mdc-option {
  /* Le damos un poco más de altura a cada opción para que respire */
  min-height: 56px !important;
  padding: 8px 16px !important;
}

/* 
  Cambiamos el color de fondo cuando pasamos el ratón por encima de una opción.
*/
.mat-mdc-autocomplete-panel .mat-mdc-option:hover {
  background-color: #f5f5f5;
}

/*
  Estilo para la opción que está seleccionada o activa con el teclado.
*/
.mat-mdc-autocomplete-panel .mat-mdc-option.mdc-list-item--selected,
.mat-mdc-autocomplete-panel .mat-mdc-option:focus {
  background-color: #e8f0fe !important;
}
