:host {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 2000;
}
.sidenav-container {
  width: 100dvw;
  height: 100dvh;
  background-color: transparent;
}
.sidenav {
  background-color: var(--primary-color);
  color: #fff;
  border-right: none;
  display: flex;
  box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.2), 0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12);
  pointer-events: auto;
  border-radius: 0px !important;
}
.is-mobile .sidenav {
  border-radius: 0px !important;
}
.sidenav__desktop,
.sidenav__mobile {
  display: flex;
  flex-direction: column;

  height: 100dvh;
  box-sizing: border-box;
}

.sidenav__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  width: 120px;
}

.sidenav__close-button {
  color: #fff;
  margin-right: -230px;
  margin-top: -10px;
  background-color: var(--primary-color);
  border: none;
  border-radius: 50%;
  outline: none;
}

.sidenav__close-button:active {
  color: rgba(255, 255, 255, 0.7);
}

.sidenav__nav-list {
  padding-top: 0 !important;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}
:host ::ng-deep .sidenav__nav-list a[mat-list-item] .mdc-list-item__content {
  display: flex !important;
  align-items: center !important;
}
.sidenav__nav-list a[mat-list-item] {
  color: #fff;
  font-size: 1.2rem;
  border-radius: 8px;
  margin-bottom: 8px;
  transition: background-color 0.2s ease-in-out;
  display: flex;
  gap: 10px;
  text-decoration: none;
  padding: 10px;
}
.sidenav__nav-list a[mat-list-item]:hover {
  background-color: rgba(255, 255, 255, 0.3);
  width: 100%;
}
.sidenav__nav-list mat-icon {
  color: #fff;
  font-size: 26px;
}

.sidenav__close-button {
  cursor: pointer;
}

.sidenav__close-button mat-icon:hover {
  font-size: 28px;
  transform: translateX(-2px);
}

.sidenav__logo-container img {
  width: 120px;
  display: block;
}
.sidenav__user-profile {
  display: grid;
  grid-template-areas: 'avatar info' 'stats stats';
  gap: 8px 12px;
  margin-top: auto;
  margin: 0 0 20px 20px;
  width: 280px;
}
.user-profile__avatar {
  grid-area: avatar;
  font-size: 50px;
  width: 50px;
  height: 50px;
  display: flex;
}

.user-profile__info {
  margin-right: 190px;
  display: flex;
  flex-direction: column;
}

.user-profile__name {
  font-weight: bold;
}
.user-profile__handle {
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.7);
}

.user-profile__stats {
  grid-area: stats;
  display: flex;
  gap: 10px;
  font-size: 0.9em;
}
.sidenav__header .user-profile__info {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* ---------- Mobile Desing ---------- */

.sidenav__header-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 320px;
  padding: 16px 24px;
  box-sizing: border-box;
}

.user-profile__info-mobile {
  display: flex;
  align-items: center;
  gap: 12px;
}

.user-profile__avatar-mobile {
  font-size: 50px;
  width: 50px;
  height: 50px;
  color: #ffffff;
}

.user-profile__name-handle-mobile {
  display: flex;
  flex-direction: column;
}

.user-profile__name-mobile {
  font-weight: 600;
  font-size: 1.15rem;
  color: #ffffff;
}

.user-profile__handle-mobile {
  font-size: 0.95em;
  color: rgba(255, 255, 255, 0.7);
}

.sidenav__close-button-mobile {
  color: #ffffff;
}

.sidenav__close-button-mobile {
  color: #fff;
  margin-right: -230px;
  margin-top: -10px;
  background-color: var(--primary-color);
  border: none;
  border-radius: 50%;
  outline: none;
  height: 50px;
  justify-content: center;
}

.sidenav__close-button-mobile:active {
  color: rgba(255, 255, 255, 0.7);
}

.sidenav__header-line-mobile {
  width: 100%;
  height: 2px;
  background-color: #fff;
  margin-top: 5px;
}

.sidenav__nav-list {
  padding: 30px 10px 10px 10px !important;
}

.mobile-stats-container {
  display: flex;
  justify-content: center;
}
.mobile-stats {
  width: 200px;
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-wrap: wrap;
  gap: 4px 16px;
  padding-left: 8px;
  text-align: center;
}
.sidenav__footer-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
  margin-top: auto;
  margin-bottom: 15px;
}
.sidenav__footer-mobile img {
  width: 100px;
}
