<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="sidenav" mode="over" [opened]="false">
    @if (isMobile$ | async) {
    <div class="sidenav__mobile">
      <div class="sidenav__header-mobile">
        <div class="user-profile__info-mobile">
          <div class="user-profile_avatar-box-mobile">
            <mat-icon class="user-profile__avatar-mobile">account_circle</mat-icon>
          </div>
          <div class="user-profile__name-handle-mobile">
            <span class="user-profile__name-mobile">Joaquin</span
            ><span class="user-profile__handle-mobile">@joaquin45</span>
          </div>
        </div>
        <div class="user-profile__button-box-mobile">
          <button
            mat-icon-button
            class="sidenav__close-button-mobile"
            (click)="matSidenav.close()"
            aria-label="Cerrar menú"
          >
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
      <div class="mobile-stats-container">
        <div class="mobile-stats">
          <span><strong>20</strong> siguiendo</span> <span><strong>15</strong> seguidores</span>
          <span>Interacciones disponibles: <strong>18/20</strong></span>
        </div>
      </div>
      <div class="sidenav__header-line-mobile"></div>
      <mat-nav-list class="sidenav__nav-list"
        ><a mat-list-item href="#"><mat-icon>search</mat-icon> <span>Buscar</span></a
        ><a mat-list-item routerLink="/profile"><mat-icon>person</mat-icon> <span>Perfil</span></a
        ><a mat-list-item routerLink="/threads-saved"
          ><mat-icon>bookmark</mat-icon> <span>Guardados</span></a
        ><a mat-list-item routerLink="/configuration-page"
          ><mat-icon>settings</mat-icon> <span>Configuración</span></a
        ></mat-nav-list
      >
      <div class="sidenav__footer-mobile">
        <img src="/assets/images/focalizze-logo-short.webp" alt="Logo de Focalizze" />
      </div>
    </div>
    } @else {
    <div class="sidenav__desktop">
      <div class="sidenav__header">
        <div class="sidenav__logo-container">
          <img src="/assets/images/focalizze-logo.webp" alt="Logo de Focalizze" />
        </div>
        <button
          mat-icon-button
          class="sidenav__close-button"
          (click)="matSidenav.close()"
          aria-label="Cerrar menú"
        >
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <mat-nav-list class="sidenav__nav-list"
        ><a mat-list-item routerLink="/feed"><mat-icon>home</mat-icon> <span>Inicio</span></a
        ><a mat-list-item routerLink="/notifications"
          ><mat-icon>notifications</mat-icon> <span>Notificaciones</span></a
        ><a mat-list-item routerLink="/threads-saved"
          ><mat-icon>bookmark</mat-icon> <span>Guardados</span></a
        ><a mat-list-item routerLink="/configuration-page"
          ><mat-icon>settings</mat-icon> <span>Configuración</span></a
        ></mat-nav-list
      >
      <div class="sidenav__user-profile">
        <mat-icon class="user-profile__avatar">account_circle</mat-icon>
        <div class="user-profile__info">
          <span class="user-profile__name">Joaquin</span
          ><span class="user-profile__handle">@joaquin45</span>
        </div>
        <div class="user-profile__stats">
          <span><strong>20</strong> siguiendo</span> <span><strong>15</strong> seguidores</span>
        </div>
      </div>
    </div>
    }
  </mat-sidenav>
  <mat-sidenav-content></mat-sidenav-content>
</mat-sidenav-container>
